@model Penggajian_Karyawan.Models.Gaji

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gaji</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPegawai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPegawai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGolongan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGolongan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tunjangan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tunjangan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potongan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potongan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGaji">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
